/*
font-family: 'Lato', sans-serif;
font-family: 'Comfortaa', cursive;
*/
html, body {
  font-family: 'Lato', sans-serif;

}

h1 {
  font-family: 'Comfortaa', cursive;
  font-size: 3rem;
}

aside {
  position:fixed;
  top:0px;
  left:0px;
  bottom:0px;
  float: left;
  width: 320px;
  height:100%;
  background-image: linear-gradient(#4C5C68, #46494C);
  border-right: 4px solid #EA6912;
}

#pop-up{
  position: relative;
  top: 1.6rem;
  text-transform: uppercase;
  background: #1985A1;
  padding: 15px 20px;
  border: 4px solid #c2e2e8;
  border-radius: 50px;
  color: #c2e2e8;
  transition: all .2s ease-in-out;
}

.fa-rocket:before {
  color: #ea6912;
}

#pop-up:hover {
  color: #1985a1;
  background: #c2e2e8;
  border: 4px solid #1985a1;
  box-shadow: 0px 8px 15px 4px #424242;
}

#sidebar {
  display: flex;
  align-items: baseline;
  margin-bottom: 50px;
}

#sidebar h1 {
  color:#DCDCDD;
  font-size: 2rem;
  display: inline;
  position: relative;
  margin: 10px;
  top:2rem;
  text-shadow: 2px 2px 10px #000;
}

#sidebar h1 span {
  color: #1985A1;
}

#list {
  margin-left: -25px;
  margin-top: 6rem;
  width:320px;
}

#list li{
  width: 85%;
  list-style: none;
  text-transform: uppercase;
  padding: 20px;
  background: #C5C3C6;
  box-shadow: 4px 4px 8px 0px #424242;
  border-radius: 50px;
  border:4px solid #DCDCDD;
  color: #1985A1/*4C5C68*/;
  transition: all .3s ease-in-out;
}

#list li:hover {
  color: #EA6912/*1985A1*/;
  background:#DCDCDD;
  border:4px solid #C5C3C6;
  box-shadow: 0px 8px 15px 4px #424242;
}

#list a {
  text-decoration: none;
}

#room-form {
  position: relative;
  top:2rem;
  left:2rem;
  width:100%;
}

#room-form input {
  padding: 10px;
  border-radius: 4px;
  border: none;
}

#room-form input[type=text] {
  color: #606061;
}

#room-form input[type=submit] {
  text-transform: uppercase;
  background: #1985A1;
  color: #DCDCDD;
  transition: all .3s ease-in-out;
}

#room-form input[type=submit]:hover {
  color: #606061;
  background: #C2E2E8/*#A7CECB*/;
}

main {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 324px;
  background-image: linear-gradient(#DCDCDD,#fff);
  width:100%;
}

#rooms h1 {
  color: #4C5C68;
  position:relative;
  top:2.5rem;
  width:60%;
  text-align: center;

}

#rooms-display {
  position: relative;
  top:4rem;
  left:2rem;
  width:60%;
}
