<aside>
  <header id="sidebar">
    <h1><span>Bloc </span>Chat</h1>
  </header>

  <section id="room-form">
    <form ng-submit='home.createRoom(newRoom)'>
      <input type="text" name="newRoom" placeholder='Enter a room name' ng-model='newRoom'>
      <input type="submit" name="submit" value="Create">
    </form>
  </section>

  <section id="list">
    <ul ng-repeat="room in home.chatrooms">
      <li class="room" ng-click="roomName = room.name">{{ room.name }}</li>
    </ul>
  </section>
</aside>

<main>
  <header id="rooms">
    <h1>Some Name</h1>
  </header>

  <section id="rooms-display">
    <ul>
      <li>
        Some Rooms
      </li>
      <li>
        Some Rooms
      </li>
      <li>
        Some Rooms
      </li>
    </ul>
  </section>
</main>
