<aside>
  <header id="sidebar">
    <h1><span>Bloc </span>Chat</h1>
    <button id='pop-up' type='button' ng-click='home.makeRoom()'>Create <i class="fa fa-rocket" aria-hidden="true"></i></button>
  </header>

  <section id="room-form">
    <form ng-submit='home.createRoom(newRoom)'>
      <input type="text" name="newRoom" placeholder='Enter a room name' ng-model='newRoom'>
      <input type="submit" name="submit" value="Create">
    </form>
  </section>

  <section id="list">
    <ul ng-repeat="room in home.chatrooms">
      <a href="#"><li class="room" ng-click="home.activeRoom(room)"><i class="fa fa-comments-o" aria-hidden="true">...</i> {{ room.name }}</li></a>
    </ul>
  </section>
</aside>

<main>
  <header id="rooms">
    <h1>{{ home.currentRoom.name }}</h1>
  </header>

  <section id="rooms-display">
    <table>
      <tr>
        <td>

        </td>
      </tr>
    </table>

    <ul>
      <li>
        Some Rooms
      </li>
      <li>
        Some Rooms
      </li>
      <li>
        Some Rooms
      </li>
    </ul>
  </section>
</main>
