<aside>
  <header id="sidebar-header">
    <h1><span>Bloc</span> Chat</h1>
    <button id='pop-up' type='button' ng-click="home.makeRoom()">Create <i class="fa fa-rocket" aria-hidden="true"></i></button>
  </header><hr />

  <section id="room-form">
    <form ng-submit='home.createRoom(newRoom)'>
      <input type="text" name="newRoom" placeholder='Enter a room name' ng-model='newRoom'>
      <input type="submit" name="submit" value="Create">
    </form>
  </section>

  <section id="list">
    <ul ng-repeat="room in home.chatrooms">
      <a href="#"><li class="room" ng-click="home.activeRoom(room); home.getMessages(room.$id)"><i class="fa fa-comments-o" aria-hidden="true">...</i> {{ room.name }}</li></a>
    </ul>
  </section>
</aside>

<main>
  <header id="rooms">
    <h1><span id="b"></span> {{ home.currentRoom.name }}</h1>
  </header>

  <section id="rooms-display">
    <div class="message-content" ng-repeat='message in home.messages'>
      <div class='user-and-content'>
        <h4 id='user'>{{ message.username }}</h4>
        <p id='message-content'>{{ message.content }}</p>
      </div>
      <div class='time'>
        <p id='time-sent'>{{ message.sentAt }}</p>
      </div>

    </div>
  </section>
</main>
