<section id='box'>
  <header id='modal-header'>
    <h3>Create A New Room</h3>
  </header>

  <form ng-submit='modal.createRoom(newRoom)'>
    <input type="text" id="text-input" name="newRoom" placeholder="Enter a room name" ng-model='newRoom'>
    <div id='button-wrapper'>
      <button type='button' id='cancel' ng-click='modal.cancel()'>Cancel <i class="fa fa-ban" aria-hidden="true"></i></button>
      <button type='submit' id='create' ng-submit='modal.createRoom(newRoom)'>Create Room <i class="fa fa-plus-circle" aria-hidden="true"></i></button>
    </div>
  </form>
</section>
